:root{
    /*Font*/
    --font-fam : 'Space Mono', monospace;
    --fontsize : 24px;
    /* Colours */
    --strongcyan: hsl(172, 67%, 45%);
    --Verydarkcyan: hsl(183, 100%, 15%);
    --Darkgrayishcyan: hsl(186, 14%, 43%);
    --Darkgrayishcyan1: hsl(184, 14%, 56%);
    --Lightgrayishcyan: hsl(185, 41%, 84%);
    --Lightgrayishcyan1: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);

}

body{
    margin: 0;
    padding: 0;
    background-color: var(--Lightgrayishcyan);
    font-family: var(--font-fam);
    max-width: 100%;
}

.logo{
    text-align: center;
    padding: 8rem 0 5.44rem 0;
}

.logo img{
    align-self: center;
}

.calculator{
    background-color: var(--White);
    margin: auto;
    padding: 2rem 3.125rem;
    max-width: 57.5rem;
    display: grid;
    grid-template-columns: 29.7rem 29.7rem;
    grid-template-rows: 21.03125rem;
    grid-template-areas: "left right";
    border-radius: 15px;
}

.calculator h1{
    font-size: 12px;
    font-weight: 700;
    color: var(--Darkgrayishcyan);
}
.calculator-left{
    grid-area: left;

}
.calculator-right{
    margin: 1rem;
    grid-area: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bill-input{
    background-color: var(--Lightgrayishcyan1);
    border-radius: 5px;
    border: none;
    background-image: url(images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 1rem 0.6rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
    font-family: var(--font-fam);
    font-size: 24px;
    font-weight: 700;
    color: var(--Verydarkcyan);
    width: 75%;
    text-align: right;
}

.bill-input:focus{
    border: 1px solid var(--strongcyan);
}

.bill-input:hover{
    border: 1px solid var(--strongcyan);
}
.man{
    background-image: url(images/icon-person.svg);
}

.custom{
    background-image: none;
    padding: 0;
    padding-right: 0.5rem;
    font-size: 17px;
    text-align: center;
    width: 6.8125rem;
    border-radius: 15px;
}

.custom:focus{
    text-align: right;
    border: 2px solid var(--strongcyan);
}
.custom:hover{
    cursor: pointer;
}

.calculator-tip-btngrid{
    display: grid;
    grid-template-columns: repeat(3,7.3125rem);
    grid-template-rows: repeat(2,3.125rem);
    gap: 1rem;
}

.input-btn{
    background-color: var(--Verydarkcyan);
    font-family: var(--font-fam);
    font-weight: 700;
    color: var(--White);
    border: none;
    border-radius: 15px;
    font-size: 17px;
    max-width: 100%;
}

.input-btn:hover{
    background-color: var(--strongcyan);
    cursor: pointer;
}
.clicked{
    background-color: var(--strongcyan);
}
.reset{
    background-color: var(--Darkgrayishcyan);
    width: 100%;
    align-self: center;
    color: var(--Verydarkcyan);
    border-radius: 5px;
}

.reset:hover{
    background-color: var(--Darkgrayishcyan);
    cursor: default;
    
}

.enablerst{
    background-color: var(--strongcyan);
    width: 100%;
    align-self: center;
    color: var(--Verydarkcyan);
    border-radius: 5px;
}
.enablerst:hover{
    background-color: var(--Lightgrayishcyan);
    cursor: pointer;
}
.darkgreensec{
    background-color: var(--Verydarkcyan);
    border: none;
    border-radius: 15px;
    padding: 3.75rem 2.5rem 2.5rem 2.5rem;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.darkgreensec h1{
    color: var(--White);
    margin: 0;
}

.darkgreensec p{
    color: var(--Darkgrayishcyan1);
    font-family: var(--font-fam);
    font-size: 10px;
    margin: 0;
    padding-bottom: 3.75rem;
}

.end-dsp{
      display: grid;
      grid-template-columns: auto auto;
      gap: auto;
}
.tipamt-r{
    text-align: right;
    align-content: center;
}
.tipamt-r h1{
    color: var(--strongcyan);
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 800px) {
    .calculator{
        grid-template-columns: 29.7rem ;
        grid-template-rows: 24.03125rem 21.03125rem;
        grid-template-areas: 
        "left"
        "right";
        justify-content: center;
    }
    .calculator-right{
        padding-left: 0;
        margin: 0;
    }
    .calculator-tip-btngrid{
        display: grid;
        grid-template-columns: repeat(2,7.3125rem);
        grid-template-rows: repeat(3,3.125rem);
        gap: 1rem;
        justify-content: center;
    }
  }

@media screen and (max-width: 1020px) {
    .calculator{
        grid-template-columns: auto auto ;
    }
}